
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  padding: 16px; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  justify-content: center; 
  margin-bottom: 100px;
}

.property-card {
  width: 300px; 
  box-sizing: border-box;
}

ion-item {
  margin-bottom: 16px;
}

ion-select, ion-range {
  width: 100%;
}
